{% extends 'base.html.twig' %}

{% block title %}
	Mon Panier
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Panier</h1>
		<table class="table table-bordered">
			<tr>
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th>Prix total</th>
				<th>Action</th>
			</tr>
			{% for item in items %}
				<tr>
					<td>{{ item.product.name }}
					</td>
					<td>{{ item.product.price }}
					</td>
					<td>{{ item.quantity }}
					</td>
					<td>{{ item.product.price * item.quantity }}
					</td>
					<td>
						<a href="{{ path('app_cart_product_remove', {'id': item.product.id}) }}" class="custom-btn delete-btn">Supprimer du panier</a>
					</td>
				</tr>
			{% else %}
				<p>Votre panier est vide</p>
			{% endfor %}
		</table>

		<div class="flex">
			<a href="" class="custom-btn new-btn">Valider la commande</a>
			<a href="" class="custom-btn delete-btn">Supprimer le panier</a>
		</div>

	</div>
{% endblock %}
