{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<form method="post">

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="flex flex-col items-center gap-2 my-8 text-center">
				Vous êtres connecté avec
				{{ app.user.userIdentifier }}
				<a href="{{ path('app_logout') }}" class="btn btn-soft w-fit">Décoonexion</a>

			</div>
		{% endif %}
		<div class="flex flex-col max-w-xl mx-auto">
			<h1 class="text-3xl font-bold text-center my-20">Connexion</h1>
			<div class="flex flex-col gap-6">
				<div>
					<label for="username">E-mail</label>
					<input type="email" value="{{ last_username }}" name="_username" id="username" class="input input-bordered w-full mt-1" autocomplete="email" required autofocus placeholder="Renseignez votre e-mail">
				</div>

				<div>
					<label for="password">Mot de passe</label>
					<input type="password" name="_password" id="password" class="input input-bordered w-full mt-1" autocomplete="current-password" required placeholder="Renseignez votre mot de passe">
				</div>

				<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-soft btn-info" type="submit">

					Se connecter
				</button>
			</div>
		</form>
	</div>
{% endblock %}
