{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="text-center my-20">
		<h1 class="text-3xl mb-6">Liste des produits</h1>
		<div class="flex flex-wrap gap-6 items-center justify-center">
			{% for product in products %}
				<div class="card bg-white grid max-w-80 gap-2 p-2">
					<img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}" class="w-50 h-50 object-cover">
					<h3>{{product.name}}</h3>
					<p class="truncate">{{ product.description | slice(0,50) }}
						{% if product.description|length > 50 %}...
						{% endif %}
					</p>

					<span>{{product.price}}€</span>
					<span>{{product.stock}}</span>
					<div class="flex">
						<span>-</span>
						<span>Quantité</span>
						<span>+</span>
					</div>
					<button class="bg-green-200 cursor-pointer">Ajouter au panier</button>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
