{% extends 'base.html.twig' %}

{% block title %}Gestion des produits
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-6">
		<div class="content-container">

			<div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-8 gap-4">
				<div>
					<h1 class="text-3xl font-bold text-gray-800 mb-2">
						Gestion des produits
					</h1>
					<p class="text-gray-600">Gérez vos produits</p>
				</div>
				<a href="{{ path('app_product_new') }}" class="custom-btn-with-logo new-btn">
					<ion-icon name="add-outline"></ion-icon>
					Nouveau produit
				</a>
			</div>

			{% include 'layouts/_flash_message.html.twig' %}

			<div class="card bg-white">
				<div class="card-body p-0">
					{% if products|length > 0 %}
						<div class="overflow-x-auto">
							<table class="table table-zebra w-full border-2 border-base-300">
								<thead class="bg-gray-300">
									<tr>
										<th class="text-center py-4 px-2 border-r border-base-300">ID</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Nom</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Description</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Stock</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Prix</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Actions</th>
										<th class="text-center py-4 px-2 border-r border-base-300">Historique</th>
									</tr>
								</thead>
								<tbody>
									{% for product in products %}
										<tr class="hover:bg-base-50 transition-colors duration-200">
											<td class="text-center py-4 px-2 sm:px-6 border-r-2 border-base-300">
												<span>{{ product.id }}</span>
											</td>
											<td class="py-4 px-2 border-r-2 border-base-300">
												<div class="text-center font-semibold">{{ product.name }}</div>
											</td>
											<td class="py-4 px-2 border-r-2 border-base-300">
												<div class="text-center max-w-xs truncate">{{ product.description | slice(0,50) }}
													{% if product.description|length > 50 %}...
													{% endif %}
												</div>
											</td>
											<td class="text-center py-4 px-2 border-r-2 border-base-300">
												{% if product.stock > 0 %}
													<span>{{ product.stock }}</span>
												{% else %}
													<span>Épuisé</span>
												{% endif %}
											</td>
											<td class="text-center py-4 px-2 border-r-2 border-base-300">
												<span>{{ product.price }} €</span>
											</td>
											<td class="py-4 px-2 border-r-2 border-base-300">
												<div class="flex flex-col md:flex-row justify-center gap-2">
													<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="custom-btn-with-logo edit-btn">
														<div class="hidden md:inline">
															<ion-icon name="create-outline"></ion-icon> 
															<span>Modifier</span>
														</div>
														<div class="inline md:hidden">
															<ion-icon name="create-outline"></ion-icon>
														</div>
													</a>
													<a onclick="return confirm('Êtes-vous sûr de vouloir supprimer le produit « {{ product.name }} » ?')" href="{{ path('app_product_delete', {'id': product.id}) }}" class="custom-btn-with-logo delete-btn">
														<ion-icon name="trash-outline"></ion-icon>
														<span class="hidden md:inline">Supprimer</span>
													</a>
													<a href="{{ path('app_product_stock_add', {'id': product.id})}}" class="custom-btn-with-logo new-btn">
														<ion-icon name="add-outline"></ion-icon>
														<span class="hidden md:inline">Ajouter du stock</span>
													</a>
												</div>
											</td>
											<td>
												<a href="{{ path('app_product_stock_add_history', {'id': product.id})}}" class="text-gray-600 text-lg flex items-center justify-center hover:text-blue-600">
													<ion-icon name="newspaper-outline"></ion-icon>
												</a>
											</td>

										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% else %}
						<div class="text-center py-16">
							<ion-icon name="cube-outline" class="text-6xl text-gray-400 mb-4"></ion-icon>
							<h3 class="text-xl font-semibold text-gray-600 mb-2">Aucun produit</h3>
							<a href="{{ path('app_product_new') }}" class="custom-btn-with-logo new-btn">
								<ion-icon name="add-outline"></ion-icon>
								Créer un produit
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
