{% extends 'base.html.twig' %}

{% block title %}Éditer sous-catégorie
{% endblock %}

{% block body %}
	<div class="flex flex-col max-w-xl mx-auto my-8">
		<div class="content-container">
			<div class="flex justify-between items-center gap-6 mb-8">
				<h2 class="text-3xl font-bold">Éditer une sous-catégorie</h2>
				<a href="{{ path('app_sub_category') }}" class="custom-btn-with-logo back-btn">
					<ion-icon name="return-down-back-outline"></ion-icon>
					Retour
				</a>
			</div>

			{{ form_start(form) }}
			<div class="flex flex-col gap-6">
				<div>
					{{ form_widget(form.name, {'attr': {'class': 'input-style input-style-common', 'placeholder': 'Nom de la sous-catégorie'}}) }}
				</div>

				<div>
					{{ form_widget(form.category, {'attr': {'class': 'select-style'}}) }}
				</div>

				<button type="submit" class="custom-btn edit-btn">
					Mettre à jour
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
